{extend name='public/base'}
{block name='content'}
<style type="text/css">
	.pagination>.active>a,
	.pagination>.active>a:focus,
	.pagination>.active>a:hover,
	.pagination>.active>span,
	.pagination>.active>span:focus,
	.pagination>.active>span:hover {
		background-color: #00a65a
	}
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		商品管理
		<small>订单列表</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 商品管理</a></li>
		<li class="active">订单列表</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<table id='table1' class="" lay-filter='table1'></table>
	
</section>
<!-- /.content -->

{/block}
{block name='script'}
<script type="text/javascript">
	layui.use(['table', 'layer', 'form'], function(res) {
		var table = layui.table,
			layer = layui.layer,
			form = layui.form;
		table.render({
			elem: '#table1',
			height: 420,
			url: '/admin/product/show2/',
			title: '商品列表',
			page: true,
			toolbar: 'default',
			totalRow: true,
			cols: [
				[{
						type: 'checkbox',
						fixed: 'left'
					},
					{
						field: 'id',
						title: 'ID',
						width:60
					},
					{
						field: 'plist',
						title: '商品清单'
					},
					{
						field: 'address',
						title: '收货地址'
					},
					{
						field: 'cash',
						title: '付款金额',
						width:165
					},
					{
						field: 'create_time',
						title: '创建时间',
						width:165
					}
					 
				]
			],
			parseData: function(res) {
				return {
					'msg': 'success',
					'code': 0,
					'data': res.order,
					'count': res.count

				}
			}
		});
	})
</script>
{/block}
