{extend name='public/base'}
{block name='content'}
<style type="text/css">
	.pagination>.active>a,
	.pagination>.active>a:focus,
	.pagination>.active>a:hover,
	.pagination>.active>span,
	.pagination>.active>span:focus,
	.pagination>.active>span:hover {
		background-color: #00a65a
	}
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		商家管理
		<small>商家列表</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 商家管理</a></li>
		<li class="active">商家列表</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<script type="text/html" id="toolbar">
  <a class="layui-btn layui-btn-default layui-btn-xs" lay-event="able">通过</a>

</script>
	<table id='table1' class="" lay-filter='table1'></table>
</section>
<!-- /.content -->

{/block}
{block name='script'}
<script type="text/javascript">
	layui.use(['table', 'layer', 'form'], function(res) {
		var table = layui.table,
			layer = layui.layer,
			form = layui.form;
		table.render({
			elem: '#table1',
			height: 420,
			url: '/admin/store/show/',
			title: '商品列表',
			page: true,
			toolbar: 'default',
			totalRow: true,
			cols: [
				[{
						type: 'checkbox',
						fixed: 'left'
					},
						{
						field: 'id',
						title: 'ID',
						width:60
					},
					{
						field: 'name',
						title: '商家名称'
					},
					{
						field: 'phone',
						title: '联系方式'
					},
					{
						field: 'address',
						title: '地址'
					},
					{
						field: 'status',
						title: '状态'
					},
					{
						toolbar: '#toolbar',
						fixed: 'right',
						align:'center',
						width:165
					}
				]
			],
			parseData: function(res) {
				return {
					'msg': 'success',
					'code': 0,
					'data': res,
					'count': 0

				}
			}
		});

		//监听行工具事件
		table.on('tool(table1)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			var data = obj.data ,//获得当前行数据
				layEvent = obj.event; //获得 lay-event 对应的值
			if (layEvent === 'able') {
				
				$.post('/admin/store/able', {
					id: data.id
				}, function() {
					layer.msg('已审核通过，并开通后台权限。后台账号：手机号，后台密码:123456');
					table1.reload();
				})
			}
		})
	})
</script>
{/block}
