{extend name='public/base'}
{block name='content'}
<style type="text/css">
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #00a65a
  }
</style>
	<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        APP设置
        <small>信息列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>APP设置</a></li>
        <li class="active">信息列表</li>
      </ol>
    </section>

     <!-- Main content -->
    <section class="content">

          <table id='table1' class="" lay-filter='table1'></table>
  <script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="shangjia">上架</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">编辑</a>
</script>  
    </section>
    <!-- /.content -->

{/block}
{block name='script'}
<script type="text/javascript">
  layui.use(['table', 'layer', 'form'], function(res) {
    var table = layui.table,
      layer = layui.layer,
      form = layui.form;
    table.render({
      elem: '#table1',
      height: 420,
      url: '/admin/setting/show/',
      title: 'APP设置',
      page: true,
      toolbar: 'default',
      totalRow: true,
      cols: [
        [
         
          {
            field: 'kp_img',
            title: '开屏图'
          },
          {
            field: 'pop_img',
            title: '弹出图'
          },
          {
            field: 'kf_tel',
            title: '客服电话'
          },
          {
            field: 'about_us',
            title: '关于我们'
          }, {
            toolbar: 'toolbar',
            align: 'center',
            width: 165,
            fixed: 'right'
          }
        ]
      ],
      parseData: function(res) {
        return {
          'msg': 'success',
          'code': 0,
          'data': res,
          'count': 0

        }
      }
    });
  })
</script>
{/block}

